# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
.virEnv/

# =========================
# Environment Variables
# =========================
.env
.env.*
*.env

# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# FAISS / Vector Store
# =========================
faiss_index/
*.faiss
*.pkl

# =========================
# Data Folders (if generated)
# =========================
data/
uploads/

# =========================
# Streamlit
# =========================
.streamlit/